
.notepad-infos {
    background: #fff;
    box-shadow: 0 0 14px 0  rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.notepad-infos strong {
    display: block;
    font-size: 16px;
    color: #333;
}

.notepad-infos div {
    display: flex;
    justify-content: space-between;
}

.notepad-infos div div {
    color: #ffe0da;
    cursor: pointer;
}

.notepad-infos div div:hover {
    color: #eb8f7a;
    transition: 0.2s;
}

.notepad-infos textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #666;
    border: 0;
    background: #fff;
    resize: none;
}

.notepad-infos textarea:hover {
    cursor: default;
}

.notepad-infos span {
    color: #c4c4c4;
    cursor: pointer;
}

.notepad-infos span:hover {
    color: #eb8f7a;
    transition: 0.2s;
}

/*============== Priority Style ===============*/

.notepad-infos-priority {
    background: #eb8f7a;
    box-shadow: 0 0 14px 0  rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.notepad-infos-priority strong {
    display: block;
    font-size: 16px;
    color: #fff;
}

.notepad-infos-priority div {
    display: flex;
    justify-content: space-between;
}

.notepad-infos-priority div div {
    color: #fabbad;
    cursor: pointer;
}

.notepad-infos-priority div div:hover {
    color: #fff;
    transition: 0.2s;
}

.notepad-infos-priority textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #fff;
    border: 0;
    background: #eb8f7a;
    resize: none;
}

.notepad-infos-priority textarea:hover {
    cursor: default;
}

.notepad-infos-priority span {
    color: #fabbad;
    cursor: pointer;
}

.notepad-infos-priority span:hover {
    color: #fff;
    transition: 0.2s;
}